[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest.git
	branch = v1.15.x
[submodule "slime/thirdparty/flatbuffers"]
	path = slime/thirdparty/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "slime/thirdparty/libuv"]
	path = slime/thirdparty/libuv
	url = https://github.com/libuv/libuv.git
